:root {
    // 全局变量
    --dtsz-color-white: #ffffff;

    --dtsz-color-primary: #409eff;
    --dtsz-color-primary-light: #ecf5ff;
    --dtsz-color-primary-hover: #a0cfff;
    --dtsz-color-primary-active: #337ecc;
    --dtsz-color-success: #67c23a;

    --dtsz-border-color: #dcdfe6;
}